

<div class="container2">

  <div id="menu-example" class="menu wobble">
    <h5>PLAY GAMES!</h5>
    <h5>GET DAILY REMINDERS!</h5>


  </div>
<img class="bigcat" src="images/cat1.png" alt="">
<img class="talkbubble" src="images/talkbubble.png" alt="">

    <div class="cats">
      <img id="animated" class="animated bounce" src="images/browncat.png" alt="">
      <img id="animated" class="animated bounce" src="images/blackcat.png" alt="">
      <img id="animated"class="animated bounce" src="images/cat2.png" alt="">
      <img id="animated"class="animated bounce" src="images/whitecat.png" alt="">

      <img id="animated"class="animated bounce" src="images/orangecat.png" alt="">
    </div>
    </div>
