<div class="container2">
<!--   <a href="" class="star-five"></a> -->

    <!--   <img class="logo" src="images/merlinlogo.png" alt=""> -->

      <!--    <a href="#/login/" class="star-five"></a>

       -->
<img class="bigcat" src="images/cat1.png" alt="">
    <div class="cats">
      <img id="animated" class="animated bounce" src="images/browncat.png" alt="">


      <img id="animated" class="animated bounce" src="images/blackcat.png" alt="">
      <img id="animated"class="animated bounce" src="images/cat2.png" alt="">
      <img id="animated"class="animated bounce" src="images/whitecat.png" alt="">

      <img id="animated"class="animated bounce" src="images/orangecat.png" alt="">
    </div>
    </div>
